html {
  overflow-x: hidden;
}

body {
  background-color: #16161e;
  color: #c0caf5;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a1b26;
  padding: 20px;
  text-align: center;
  position: relative;
  /* To position the theme toggle button */
}

header h1,
header h2 {
  margin: 0;
}

.theme-toggle,
.style-toggle {
  position: absolute;
  background: none;
  border: none;
  color: inherit;
  /* Use inherited color */
  font-size: 1.5rem;
  cursor: pointer;
}

.theme-toggle {
  right: 50px;
  top: 20px;
}

.theme-toggle:hover,
.style-toggle:hover {
  color: #c0caf5;
  /* Change color on hover */
}

.style-toggle {
  right: 20px;
  top: 20px;
}

.container {
  min-width: 0px;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.lesson {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1e1e2e;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.lesson img {
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
}

.lesson div {
  padding: 20px;
}

/* Dark mode styles */
h1,
h2,
h3 {
  color: #c0caf5;
}

a {
  color: #a9b1d6;
}

a:hover {
  color: #c0caf5;
}

footer {
  background-color: #1a1b26;
  padding: 20px;
  text-align: center;
}

/* Light mode styles */
body.light-mode {
  background-color: #f5f5f5;
  color: #16161e;
}

body.light-mode header {
  background-color: #ffffff;
}

body.light-mode .lesson {
  background-color: #ffffff;
  color: #16161e;
}

body.light-mode h1,
body.light-mode h2,
body.light-mode h3 {
  color: #16161e;
}

body.light-mode a {
  color: #0366d6;
}

body.light-mode a:hover {
  color: #0056b3;
}

body.light-mode footer {
  background-color: #ffffff;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .lesson {
    flex-direction: column;
  }

  .lesson img {
    margin-bottom: 20px;
    padding: 0;
  }
}
